.content {
    margin-top: -435px;
    width: 50rem;
    margin-left: 280px;
    border-radius: 100px;
}

.contentBDTable{
    margin-left:140px;
    width: 80%;
}

.p-datatable-wrapper::-webkit-scrollbar {
    background: rgb(105, 38, 38);
    border-radius: 0px 15px 15px 0px;            /* width of the entire scrollbar */
  }

  .p-datatable-wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(233, 233, 233);    /* color of the scroll thumb */
    border-radius: 0px 15px 15px 0px;       /* roundness of the scroll thumb */
    border: 3px double rgb(255, 255, 255);  /* creates padding around scroll thumb */
  }

.p-datatable-wrapper{
    border-radius: 15px;
    border: inset 2px #bdbdbd;
    -webkit-box-shadow: 2px 4px 5px -1px rgba(0,0,0,0.45); 
    box-shadow: 2px 4px 5px -1px rgba(0,0,0,0.45);
}

.p-datatable .p-datatable-thead > tr > th {
    color: #f7f3f3;
    background-color: #976363;
    padding: 10px 3px;
    border: none;
}





table.p-datatable-table {
    border-collapse: collapse;
  }
  table.p-datatable-table td, table.p-datatable-table th {
    border: 1px solid #b59999; /*Cor da borda das células da tabela*/
    padding: 3px 2px;
  }
 
  table.p-datatable-table tr:nth-child(even) {
    background: #e9d9d9; /*Cor alternada das rows da tabela*/
  }

  .p-datatable .p-datatable-tbody > tr {
    background: #f3eaea;  /*Cor base da tabela*/
  }
