

.corpo {
    background-image: url(../imagens/bannIa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.cabecalho {
    background-color: rgba(0, 0, 0, 0.5);
    height: 110px;
    justify-content: space-between;
}
body{
    display: grid;
    grid-template-rows: 67vh;
    min-height: 100%;
}

.menu {

    display: flex;
    /* margin: 0px; */
    justify-content: flex-end;
    padding-right: 30px;
    margin-top: -35px;
    z-index: 15;

}

.menuPalavra {
    padding-right: 30px;
    display: flex;
    font: normal 700 15px / 19px "Roboto", Helvetica, Arial, Verdana, sans-serif;
    ;
    color: #fff;

}

.foto {
    margin-top: 20px;
    padding-left: 50px;

}

footer {
    background-color: #333;
    color: hsl(0, 0%, 100%);
    padding: 20px;
    text-align: center;
    /* margin-top: 90vh; */

}

.fotoFooter {
    
}