@import url('https://fonts.cdnfonts.com/css/ropa-sans-2');

@import url('https://fonts.cdnfonts.com/css/ropa-sans-2');

.corpo {
    background-image: url(../imagens/bannIa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    /* max-height: 101vh; */
    font-family: 'ropa-sans2';
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgba(0, 0, 0, 0.5);
    height: 110px;
    justify-content: space-between;
}

body {
    display: grid;
    grid-template-rows: 40px;

    margin: none;
}

.container {
    font-size: 14px;
    height: 70vh;
    /* background: #d8d8d8; */
}

.toggle-button {
    color: wheat;
    font-Size: 5.0rem;
    bottom: 79vh;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    position: fixed;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    margin-top: -55px;
    list-style-type: none;

}

.nav-links {
    display: flex;
    gap: 0.7rem;
}

.nav-link,
.drop-down li {
    list-style: none;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
}

a {
    text-decoration: none;
    font: normal 700 15px / 19px "Roboto", Helvetica, Arial, Verdana, sans-serif;
    ;
    color: #fff;
    position: relative;

}



.drop-down-catch {
    margin: auto 0;
    height: 58px;

}

.drop-down {

    position: absolute;
    /* padding: 0.5rem 0; */
    margin: 2.45rem 0rem 0rem -1rem;
    background-color: #e8e8e8;
    color: #333333;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /*border-radius: 0.5rem;*/
    font-size: 12px;
    display: none;
    min-width: 220px;
    font: normal 700 12px / 16px "Roboto", Helvetica, Arial, Verdana, sans-serif;
    ;
}



a::after {
    content: "";
    height: 2px;
    width: 100%;
    background: white;
    left: 0;
    bottom: -8px;
    position: absolute;
    opacity: 0;
}

a:hover::after {
    opacity: 1;

}

.services:hover .drop-down {
    display: block;
}

.services a {
    display: flex;
    align-items: center;
}

.services .dropdown-icon {
    font-size: 18px;
    position: relative;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

/* .services:hover .dropdown-icon {
    transform: rotate(180deg);
} */

.drop-down li:hover {
    background: #e4dada;
    color: #b31c1f;
    /*border-radius: 0.5rem;*/

}

.nav-link-detail {
    font-size: 14px;
    font-weight: 700;
    margin-top: 6px;
    color: #8a8a8a;
}

img.foto {
    /* margin-top: 20px; */
    padding-left: 5px;

}

footer {
    background: url(../imagens/fundoo.png);
    color: #eee;
    ;
    padding: 0 60px 0 50px;
    height: 8vh;
    margin-top: 3vh;

}

.fotoFooter {
    float: left;
    margin-top: 11px;
}

.TextoRodape {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 0.85rem;
}

.TextoRodape2 {
    float: right;
    margin-top: 16px;
    font-size: 0.85rem;
}

.info {
    padding: 2px;

}

@media only screen and (max-width: 800px) {
    .corpo {
        width: 100%;
    }

    .footer {
        width: 100%;
        padding: 0 85px 0 50px;
        margin-bottom: 0.5px;
    }

    .TextoRodape {

        margin-top: 23px;
        font-size: 0.6rem;
        margin-left: 1px;

    }

    .TextoRodape2 {
        float: right;
        margin-top: 23px;
        font-size: 0.6rem;
        
        
    }
   

    .fotoFooter {
        float: left;
        margin-bottom: 0.5px;

    }

    .toggle-button {
        display: flex;
        right:2rem;
    }
    a{
        color: #333333;
        text-decoration: none;
        font: normal 700 12px / 19px "Roboto", Helvetica, Arial, Verdana, sans-serif;
        ;
        position: relative;

    }
    a:hover{
        color: #b31c1f;
    }

   
    ul.nav-links {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        z-index: 10;
        background-color: #e8e8e8;
        border-radius: 10px;
        align-items: center;
        top: 70px;
        right: 15px;
        display: none;
        
    }
    .nav-link-detail { display: none;
    }


    /* .navbar .nav-links ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar .nav-links li{
        text-align: center;
    } */

}

@media only screen and (max-width: 620px) {

    .corpo {
        /*width: 70%;*/
    }

    .footer {
        width: 100%;
        padding: 0 50px 0 50px;
        margin-bottom: 0.5px;
    }

    .TextoRodape {

        margin-bottom: 0.5px;
        font-size: 0.4rem;
    }

    .TextoRodape2 {
        float: right;
        margin-bottom: 0.5px;
        font-size: 0.4rem;
    }

    .fotoFooter {
        float: left;
        margin-bottom: 0.5px;

    }


}


@media only screen and (max-width: 480px) {

    .corpo {
        /*width: 53%;*/
    }

    .footer {
        width: 100%;
        padding: 0 30px 0 30px;
        margin-bottom: 0.5px;
    }

    .TextoRodape {

        margin-bottom: 0.5px;
        font-size: 0.35rem;
    }

    .TextoRodape2 {
        float: right;
        margin-bottom: 0.5px;
        font-size: 0.35rem;
    }

    .fotoFooter {
        float: left;
        margin-bottom: 0.5px;

    }

    /* conserta o footer? */

}

@media only screen and (max-width: 360px) {
    .corpo {
        /*width: 41%;*/
    }

    .footer {
        width: 100%;
        padding: 0 55px 0 15px;
        margin-bottom: 0.5px;
        height: 6.5vh;
    }

    .fotoFooter {
        float: left;
        margin-top: 8px;
        width: 35px;
        height: 20px;
    }

    .TextoRodape {

        margin-top: 18px;
        font-size: 0.25rem;
    }

    .TextoRodape2 {
        float: right;
        margin-top: 18px;
        font-size: 0.25rem;
    }

    .fotoFooter {
        float: left;
        margin-bottom: 0.5px;

    }
}